.about__hero-img {
  object-fit: cover;
  padding-top: 15vh;
  min-height: 250px;
  width: 100%;
  object-position: center;
}

.about-container {
  font-size: 1.5rem;
  padding: 2.4em 1em;
  line-height: 1.5em;
  text-align: center;
}
