.map {
  padding-top: 15vh;
}

.contact {
  @include section;
}

.contact__title {
  font-size: 2.2rem;
  color: $pink;
  font-weight: 700;
}

.socials {
  @include section;
  padding-top: 0;
}

.socials__title {
  @extend .contact__title;
}

.contact__paragraph {
  margin: 0;
  font-size: 1.6rem;
}

.contact__paragraph--lead {
  font-weight: 700;
}

.contact__subsection {
  margin-top: 1em;
}

.socials__icons-container {
  padding-top: 0.75em;
}

.socials__icon {
  @extend .footer__social-icon;
}

//map

.map {
  width: 100%;
  height: 500px;
  padding-top: 15vh;
}

.info-content {
  color: #999;
}
