.carousel-container {
  padding-top: 15vh;
}

.carousel__image {
  min-height: 350px;
  object-fit: cover;
}

.carousel__title {
  font-size: 3rem;
  font-weight: 700;
}

.carousel-indicators {
  margin-bottom: 1.5em;

  .carousel__indiactior {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: transparent;
    border: 2px solid $white;
    opacity: 1;
  }

  .active {
    background-color: $white;
  }
}

.carousel__action-link {
  font-weight: 700;
  font-size: 1.4rem;
  display: inline-block;
  padding: 0.5em 1.25em;
  background-color: $dark;
  color: $white;
  transition: 0.3s ease-in-out;
  margin: 1.75em 0 3.5em 0;

  &:hover,
  &:focus {
    color: $pink;
  }
}

.post-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em 0;
}

.post__title {
  font-size: 2.2rem;
  font-weight: 700;
  margin: 0.75em 0;
}

.post__link {
  font-size: 1.4rem;
  border: 1px solid $pink;
  font-weight: 700;
  padding: 0.75em 1.5em;
  transition: 0.3s ease-in-out;

  &:hover {
    background-color: $pink;
  }
}
