.section--offer {
  padding: 18vh 0 1.75em 0;
}

.offer-content-container {
  padding: 0 1em 1.75em 1em;
}

.section__title--offer {
  align-items: flex-start;
}

.offer__img {
  width: 100%;
  object-fit: cover;
  min-height: 300px;
  margin-bottom: 2em;
}

.offer__content {
  font-size: 1.8rem;
}

.secion--pros-and-cons {
  font-size: 1rem;
  background-color: $pink;
  padding: 0 2em 3.5em 2em;
}

.section__title--pros-and-cons {
  padding: 1.4em 0 0.75em 0;
  margin: 0;
  align-items: flex-start;

  &::after {
    background-color: $white;
  }
}

.pros-and-cons__paragraph {
  font-size: 1.8rem;
  margin: 0.25em;
  font-weight: 700;
}
