.tariff {
  @include section;
  padding-top: 18vh;

  &__title {
    @include section__title;
  }

  &__position {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-weight: 900;
    font-size: 1.4rem;

    &::after {
      content: '';
      display: block;
      height: 1px;
      width: 100%;
      background-color: $light-gray;
    }
  }

  &__offer-title {
    font-weight: 700;
    font-size: 1.4rem;
    text-align: center;
    padding: 0.75em;
    border: 1px solid $light-gray;
    margin: 0;
    cursor: pointer;
    width: 100%;
    color: $dark;
    background-color: $white;
  }
}

.active-offer {
  background-color: $gold;
  color: $white;
}

.nav-item {
  text-align: center;
}

.tab-content {
  display: flex;
}

.pills__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.3s ease-in-out;

  @media (min-width: 830px) {
    flex-direction: row;
  }

  .nav-link--tab--tariff {
    font-size: 1.4rem;
    transition: 0.3s ease-in-out;
    width: 100%;
    font-weight: 700;
    color: $dark;
    border-radius: 0;
    border: 1px solid $light-gray;
    padding: 0.5em 1em;

    @media (min-width: 830px) {
      width: auto;
      padding: 0.5em 1em;
    }
  }
}

.pills__content {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  font-weight: 700;
  transition: 0.3s ease-in-out;
  max-width: 960px;
  margin: 0 auto;
}

.single-tariff-position {
  justify-content: space-between;
  display: flex;
  transition: 0.3s ease-in-out;
}

.pills__positions {
  margin-top: 2em;
  width: 100%;
}

.single-tariff-item {
  padding: 0.4em 0;

  &::after {
    content: '';
    display: block;
    height: 1px;
    width: 100%;
    background-color: $light-gray;
  }
}

.nav-item {
  width: 100%;

  @media (min-width: 830px) {
    width: auto;
  }

  a.active {
    background-color: $gold !important;
  }
}
